<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>get session</h1>
    <!-- <h2>{{username}}</h2>
    <h1>{{password}}</h1> -->
    {% for key in keys %}
        {{key}} <br>
    {% endfor %}
    <hr><br>
    {% for values in values %}
        {{values}} <br>
    {% endfor %}
    <hr><br>
    {% for items in items %}
        {{items}} <br>
    {% endfor %}
</body>
</html>